@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 350 13% 12%;
    --foreground: 0 0% 98%;
    --card: 350 13% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 350 13% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 352 89% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 320 7% 72%;
    --accent-foreground: 350 13% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 352 89% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 350 13% 12%;
    --foreground: 0 0% 98%;
    --card: 350 13% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 350 13% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 352 89% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 320 7% 72%;
    --accent-foreground: 350 13% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 352 89% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
